.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 431px;
    margin-left: 53px;
}

.searchInput {
    flex: 1;
    padding: 0 110px 0 12px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font: normal normal normal 22px/32px Heebo;
    height: 63px;
    color: #363636;
    outline: none;
}

.searchInput:focus {
    outline: 1px solid black;
}

.searchButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #046B3B;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font: normal normal 300 18px/27px Heebo;
    padding: 5px 23px;
    height: 36px;
    box-sizing: border-box;
}

.searchButton:hover {
    background-color: #0e8a50;
}

.searchButton:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

.warningMessage {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.clearButton {
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.searchInput:focus+.clearButton {
    display: block;
}

.clearButtonIcon {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #000000;
}

