.weatherDisplayFrame{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #DDE4E6;
  width: 669px;
  height: 660px;
}

.weatherDisplay {
  padding: 50px 50px 14px 50px ;
  border-radius: 30px;
  background-color: #27737D;
  height: 450px;
  width: 335px;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  
}

.cityName {
  font: normal normal 300 24px/26px Heebo;
  letter-spacing: 0px;
  color: #E8F1F2;
  opacity: 1;
  margin: 0;
  margin-top: 5px;

}

.countryName {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #A8C6CB;
  opacity: 1;
  margin: 0;
  margin-top: -7px;
  text-transform: lowercase;

}

.dateTime {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #A8C6CB;
  opacity: 1;
  margin-top: 2px;
}

.bigTempBox{
  display: flex;
  flex-direction: column;
  
}

.bigTemp {
  font: normal normal Heebo;
  font-weight: 550;
  font-size: 130px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0;
  margin-top: -20px;
  margin-left: 50px;
  
}

.condition {
  font: normal normal 200 30px/30px Heebo;
  letter-spacing: 0px;
  color: #E8F1F2;
  opacity: 1;
  margin: 0;
  margin-top: -48px;
  text-transform: lowercase;
  margin-bottom: 35px;
}

.categoryRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  column-gap: 20px;
}

.category {
  font: normal normal 100 18px/30px Heebo;
  letter-spacing: 0px;
  color: #E8F1F2;
  opacity: 1;
  margin-bottom: 0;
}

.categoryValue {
  font: normal normal 18px/27px Heebo;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 0;

}

.hourRow {
  display: flex;
  justify-content: space-around;
}

.hour {
  font: normal normal 300 16px/20px Heebo;
  letter-spacing: 0px;
  color: #A8C6CB;
  opacity: 1;
  margin: 0;
}

.hourTemp {
  font: normal normal medium 18px/24px Heebo;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0;
  margin-left: 10px;
}

